//Tablets and Smaller
@media(max-width: 900px) {
    #header-home{
        height: 30rem;

        .header-content{
            padding-top: 5rem;
        }
    }
    
}

//Smartphones
@media(max-width: 500px){
    #main-nav{
        flex-direction: column;
        align-items: center;

        li{
            padding: 1rem;
        }
    }

    #header{
        &-home{
            height:10rem;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;

            .header-content{
                display: none;
            }
        }

        &-inner{
            height: 10rem;
        }
    }

    //Stack Grid Columns
    #home .stats, .items{
        grid-template-columns: 1fr;
    }

    #about{
        .about-info{
            grid-template-areas: 
                'bioimage'
                'bio'
                'aw1'
                'aw2'
                'aw3'
                'aw4'
                'aw5'
                'aw6'   
            ;
        }
        img{
            display: none;
        }
    }

    #contact {
        &-a {
            .text-fields{
                grid-template-areas: 
                    'name'
                    'subject'
                    'email'
                    'phone'
                    'message'
                ;
            }
        }
    }

    #contact-b .contact-info {
        display: flex;
        flex-direction: column;
        
        div{
            padding-bottom: 20px;
        }
    }


    #main-footer .footer-content{
        flex-direction: column;
    }
}